@model RoleViewModel ;
<div class="form-group">
    <label asp-for="@Model.Name">Name</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="bg-danger"></span>
</div>

