@model ResetPasswordViewModel ;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthSecurity.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword">
			<input class="text" type="password" asp-for="@Model.NewPassword" placeholder="Password" required="">
			<input class="text w3lpass" type="password" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="">
			<input type="submit" value="Confirm">
		</form>
	</div>
</div>
@section scriptValidationSection {
	<partial name="_ValidationScriptsPartial" />

}


