@model UserViewModel ;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartial" model="@Model" />
    <input value="Delete" class="bg-danger form-control" type="submit" />
    <a class="btn btn-primary" asp-action="Index">Cancel</a>
</form>

